<!-- LOGO -->
<a href="index.html" class="logo text-center logo-light">
    <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="16">
    </span>
    <span class="logo-sm">
        <img src="assets/images/logo_sm.png" alt="" height="16">
    </span>
</a>

<!-- LOGO -->
<a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="16">
    </span>
    <span class="logo-sm">
        <img src="assets/images/logo_sm_dark.png" alt="" height="16">
    </span>
</a>

<div class="h-100" id="leftside-menu-container" data-simplebar>

    <!--- Sidemenu -->
    <ul class="side-nav">

        <li class="side-nav-title side-nav-item">Navigation</li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" [routerLink]="['/dashetudiant/agenda']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-schedule"></i>
                <span class="badge bg-success float-end"></span>
                <span> Agenda </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashetudiant/questionetudiant']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-comment-alt-dots"></i>
                <span class="badge bg-success float-end"></span>
                <span> Q&A </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashetudiant/depot']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class=" uil-file-check-alt"></i>
                <span class="badge bg-success float-end"></span>
                <span> Depot </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashetudiant/feedetudiant']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class=" uil-star"></i>
                <span class="badge bg-success float-end"></span>
                <span> Feedback </span>
            </a>

        </li>





    </ul>


    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>
<!-- Sidebar -left -->