<div class="container">
    <div style="display: flex; justify-content: space-between;margin: 32px 24px;">

        <h2>Modifier</h2>
        <button class="btn btn-primary col-2" routerLink="/dashboard/list-formation">Liste</button>
    </div>
</div>


<div class="row ">
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">

                <div class="row">

                    <form [formGroup]="form" (ngSubmit)="onSubmit() " class="col-xl-12">
                        <div class="form-group mb-3">
                            <label for="projectname" class="form-label"> Titre </label>
                            <input pattern="[a-zA-Z ]*" formControlName="title" type="text" [(ngModel)]="formation.title" id="projectname" class="form-control" placeholder="Saisir un titre de formation">
                            <div *ngIf="f['title'].touched && f['title'].invalid" class="text-danger">
                                <div *ngIf="f['title'].errors && f['title'].errors['required']">Inserer le titre</div>
                                <div *ngIf="f['title'].errors?.['pattern'] ">seulement des lettres</div>


                            </div>


                        </div>

                        <div class="form-group mb-3">
                            <label for="project-overview" class="form-label">Description</label>
                            <textarea formControlName="description" required class="form-control" [(ngModel)]="formation.description" id="project-overview" placeholder="Saisir une description de l'emploi"></textarea>
                            <div *ngIf="f['description'].touched && f['description'].invalid" class="text-danger">
                                <div *ngIf="f['description'].errors && f['description'].errors['required']">ajouter une description
                                </div>







                            </div>
                        </div>



                        <!-- Date View -->
                        <div class="form-group mb-3 position-relative" id="datepicker1">
                            <label class="form-label"> Date</label>
                            <input min="{{mindate}}" formControlName="date" type="datetime-local" [(ngModel)]="formation.date" class="form-control">
                            <div *ngIf="f['date'].touched && f['date'].invalid" class="text-danger">
                                <div *ngIf="f['date'].errors && f['date'].errors['required']">choisir une date</div>


                            </div>
                        </div>




                        <div class="form-group mb-3 position-relative" id="datepicker1">
                            <label class="form-label">nombre d'heure</label>
                            <input pattern="(3[0-9]|[4-9][0-9]|100)" formControlName="nbr" type="text" [(ngModel)]="formation.nbrHeures" class="form-control">
                            <div *ngIf="f['nbr'].touched && f['nbr'].invalid" class="text-danger">
                                <div *ngIf="f['nbr'].errors && f['nbr'].errors['required']">nbr d'heure imporatant</div>
                                <div *ngIf="f['nbr'].errors?.['pattern'] ">nombre d heure entre 30 et 100</div>


                            </div>
                        </div>
                        <div class=" form-group mb-3">
                            <label for="example-select" class="form-label">formateur</label>
                            <select formControlName="formateur" [(ngModel)]="formation.formateur" class="form-control " id="example-select">
                <option *ngFor="let f of list" value=" {{f._id}}">{{f.name}}</option>

              </select>
                            <div *ngIf="f['formateur'].touched && f['formateur'].invalid" class="text-danger">
                                <div *ngIf="f['formateur'].errors && f['formateur'].errors['required']">il faut choisir un formateur
                                </div>


                            </div>
                        </div>
                        <div class=" form-group mb-3 position-relative" id="datepicker1">
                            <label class="form-label"> Spécialite</label>
                            <input formControlName="specialite" type="text" [(ngModel)]="formation.specialite" class="form-control">
                            <div *ngIf="f['specialite'].touched && f['specialite'].invalid" class="text-danger">
                                <div *ngIf="f['specialite'].errors && f['specialite'].errors['required']"> ajouter specialite </div>


                            </div>
                        </div>



                        <div class=" form-group mb-3 position-relative" id="datepicker1">
                            <label class="form-label"> image </label>
                            <input formControlName="image" type="file" (change)="selectedimage($event)" class="form-control" placeholder="image">
                            <div class="card mt-2">
                                <img [src]="'http://127.0.0.1:8000/getimageformation/' + formation.image" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                            </div>
                            <div *ngIf="f['image'].touched && f['image'].invalid" class="text-danger">
                                <div *ngIf="f['image'].errors && f['image'].errors['required']">selectionner une image</div>


                            </div>

                        </div>




                        <div class=" form-group mb-3 ">
                            <ng-multiselect-dropdown formControlName="groupe" [placeholder]="'groupe'" [settings]="dropdownSettings" [data]="list" [(ngModel)]="formation.groupe">

                            </ng-multiselect-dropdown>

                        </div>



                        <div class="form-group mb-3 position-relative" id="datepicker1">
                            <label class="form-label mt-2"> Prix</label>
                            <input pattern="(^-?[1-9][0-9][0-9])" formControlName="prix" type="text" [(ngModel)]="formation.prix" class="form-control">
                            <div *ngIf="f['prix'].touched && f['prix'].invalid" class="text-danger">
                                <div *ngIf="f['prix'].errors && f['prix'].errors['required']">prix est imporatant</div>
                                <div *ngIf="f['prix'].errors?.['pattern'] ">prix doit etre superieur a 100</div>



                            </div>
                        </div>


                        <div class="form-group mb-3 position-relative" id="datepicker1">
                            <label class="form-label"> Technologies</label>
                            <input formControlName="technologies" type="text" [(ngModel)]="formation.technologies" class="form-control">
                            <div *ngIf="f['technologies'].touched && f['technologies'].invalid" class="text-danger">
                                <div *ngIf="f['technologies'].errors && f['technologies'].errors['required']"> ajouter technologies
                                </div>


                            </div>
                        </div>






                        <!-- end col-->


                        <!-- end col-->
                    </form>
                    <!-- end row -->

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->
</div>
<div style="display: flex; justify-content: space-between;margin: 32px 24px;" class="form-group">
    <button type="submit" class="btn btn-primary" (click)="ajout() ">Ajouter</button>
    <button type="button" (click)="onReset()" class="btn btn-warning float-right">réinitialiser</button>


</div>