<!-- LOGO -->
<a href="index.html" class="logo text-center logo-light">
    <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="16">
    </span>
    <span class="logo-sm">
        <img src="assets/images/logo_sm.png" alt="" height="16">
    </span>
</a>

<!-- LOGO -->
<a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="16">
    </span>
    <span class="logo-sm">
        <img src="assets/images/logo_sm_dark.png" alt="" height="16">
    </span>
</a>

<div class="h-100" id="leftside-menu-container" data-simplebar>

    <!--- Sidemenu -->
    <ul class="side-nav">

        <li class="side-nav-title side-nav-item">Navigation</li>

        <li class="side-nav-item">
            <a data-bs-toggle="collapse" [routerLink]="['/dashboard/list-us']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-user"></i>
                <span class="badge bg-success float-end"></span>
                <span> Etudiants </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashboard/list-formateur']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-user"></i>
                <span class="badge bg-success float-end"></span>
                <span> Formateurs </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashboard/list-formation']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class="uil-bag-alt"></i>
                <span class="badge bg-success float-end"></span>
                <span> Formations </span>
            </a>
            <a data-bs-toggle="collapse" [routerLink]="['/dashboard/list-emploi']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class=" uil-calendar-alt"></i>
                <span class="badge bg-success float-end"></span>
                <span> Emplois </span>
            </a>

            <a data-bs-toggle="collapse" [routerLink]="['/dashboard/list-feedback']" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                <i class=" uil-calendar-alt"></i>
                <span class="badge bg-success float-end"></span>
                <span> Feedback</span>
            </a>

        </li>





    </ul>


    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>
<!-- Sidebar -left -->