<div class="col-xl-6">
    <div class="card">
        <div class="card-body">

            <h4 class="header-title mb-3"> Changer Mot de Passe pour étudiant </h4>


            <div id="basicwizard">

                <ul class="nav nav-pills nav-justified form-wizard-header mb-4">
                    <li class="nav-item">
                        <a href="#basictab1" data-bs-toggle="tab" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2">
                            <i class="mdi mdi-account-circle me-1"></i>
                            <span class="d-none d-sm-inline">Account</span>
                        </a>
                    </li>


                </ul>

                <div class="tab-content b-0 mb-0">
                    <form [formGroup]="passwordform" (ngSubmit)="changerpassword()">
                        <div class=" row ">
                            <div class="col-12 ">


                                <div class="form-group ">
                                    <label class="col-md-3 col-form-label " for="password ">Ancien Mot de Passe </label>

                                    <input type="password " class="form-control " formControlName="prevpassword" [pattern]="passwordPattern " [(ngModel)]=" etudiant.prevpassword " class="form-control " id="userName " name="userName " value="123456789 ">
                                    <div *ngIf="prevpassword.touched && prevpassword.invalid " class="text-danger ">
                                        <small *ngIf="prevpassword.errors.required " class="text-danger ">Password is required<br></small>
                                        <small *ngIf="prevpassword.errors.minlength " class="text-danger ">Le mot de passe doit contenir au moins 6 caractères</small>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="col-md-3 col-form-label " for="password ">Nouveau Mot de Passe </label>
                                    <input type="password " class="form-control " formControlName="newpassword" [pattern]="passwordPattern " [(ngModel)]="etudiant.password " class="form-control " id="userName " name="userName " value="123456789 ">
                                    <div *ngIf="newpassword.touched && newpassword.invalid " class="text-danger ">
                                        <small *ngIf="newpassword.errors.required" class="text-danger ">Password is required<br></small>
                                        <small *ngIf="newpassword.errors.minlength " class="text-danger ">Le mot de passe doit contenir au moins 6 caractères</small>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="col-md-3 col-form-label " for="password ">Confirmer nouveau Mot de Passe </label>

                                    <input type="password " class="form-control" formControlName="confirmpassword" [pattern]="passwordPattern " [(ngModel)]=" etudiant.confirmpassword " class="form-control " id="userName " name="userName " value="123456789 ">
                                    <div *ngIf="confirmpassword.touched && confirmpassword.invalid ">
                                        <small *ngIf="confirmpassword.errors.required" class="text-danger ">Repeat Password is required<br></small>
                                        <small *ngIf="confirmpassword.errors.minlength " class="text-danger ">Le mot de passe doit contenir au moins 6 caractères</small>

                                    </div>

                                    <div *ngIf="etudiant.confirmpassword != etudiant.password && etudiant.confirmpassword.length>0" class="text-danger ">
                                        Les mots de passe ne sont pas identiques
                                    </div>
                                </div>




                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div style="display: flex; justify-content: space-between;margin: 32px 24px; " class="form-group ">
                            <button type="submit" class="btn btn-primary" [disabled]="passwordform.invalid && etudiant.confirmpassword != etudiant.password ">Sauvegarder</button>
                            <button type="submit" click="onReset()" class="btn btn-warning">Reset</button>

                        </div>
                    </form>






                </div>
                <!-- tab-content -->
            </div>
            <!-- end #basicwizard-->


        </div>
        <!-- end card-body -->
    </div>
    <!-- end card-->
</div>