<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Liste des Emplois
                <a [routerLink]="['/dashboard/add-emploi']" data-bs-toggle="modal" data-bs-target="#add-new-task-modal" class="btn btn-success btn-sm ms-3">Ajouter</a></h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 m-5">
        <div class="board w-100">
            <div class="tasks w-100">


                <div class="row">

                    <!-- Task Item -->
                    <div *ngFor="let l of list" class="card mb-0 col-3 m-3">
                        <div class="card-body p-3">
                            <small class="float-end text-muted"> De {{l.dateheure | date}}</small>
                            <br>
                            <small class="float-end text-muted"> Jusqu'à {{l.endDate | date}}</small>


                            <h5 class="mt-2 mb-2">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#task-detail-modal" class="text-body">{{l.title}}</a>
                            </h5>



                            <div class="dropdown float-end">
                                <a href="#" class="dropdown-toggle text-muted arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical font-18"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a [routerLink]="['/dashboard/update-emp' , l._id ]" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Edit</a>
                                    <!-- item-->
                                    <a (click)="delete(l._id)" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Delete</a>
                                    <!-- item-->

                                </div>
                            </div>

                            <p class="mb-0">

                                <span class="align-middle">{{l.formation[0].title}}</span>
                            </p>
                        </div>
                        <!-- end card-body -->
                    </div>


                </div>
                <!-- end company-list-1-->
            </div>







        </div>
        <!-- end .board-->
    </div>
    <!-- end col -->
</div>