<div class="container">
    <div style="display: flex; justify-content: space-between;margin: 32px 24px;">

        <h2>Liste des formations</h2>
        <button class="btn btn-primary col-2" [routerLink]="['/dashboard/add-formation']">Ajout</button>
    </div>


</div>


<div class="row mt-3">
    <div *ngFor="let f of list" class="col-md-3 col-sm-6">
        <div class="film-item" [title]="f.title">
            <div class="card">
                <img class="w-100" [src]="'http://127.0.0.1:8000/getimageformation/' + f.image" alt="" style="width: 100%;height: 200px;">
                <div class="movie-title">{{f.title}}</div>
                <div class="card-body" [ngClass]="'bg-green'">
                    <h5 class="card-title">{{ f.technologies + ' '+ f.prix }}</h5>

                    <button class="btn btn-success " style="margin-right: 79px;" [routerLink]="['/dashboard/detail-formation' , f._id ]"><i class="mdi mdi-account action-icon"></i></button>

                    <button class="btn btn-danger ml-2 " (click)="delete(f._id)"><i class="mdi mdi-delete action-icon"></i></button>


                    <!-- <i (click)="delete(l._id)" class="mdi mdi-delete action-icon"></i>
                    <i [routerLink]="['/dashboard/profiletudiant' , l._id ]" class="mdi mdi-account action-icon"></i> -->


                </div>

            </div>
        </div>



    </div>