<div class="container">
    <div style="display: flex; justify-content: space-between;margin: 32px 24px;">

        <h5>Liste des étudiants</h5>
        <button class="btn btn-primary col-2" routerLink="/dashboard/ajoutetudiant">Ajout</button>
    </div>


</div>



<table class="table table-striped table-centered">
    <thead>
        <tr>
            <th> name</th>
            <th>lastname</th>
            <th>Email</th>
            <th>tel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of list;">
            <td class="table-user">
                <img [src]="'http://127.0.0.1:8000/getimageetudiant/' + l.image" alt="table-user" class="me-2 rounded-circle" /> {{l.name}}
            </td>
            <td>{{l.lastname}}</td>
            <td>{{l.email}}</td>
            <td>{{l.tel}}</td>
            <td class="table-action">
                <i [routerLink]="['/dashboard/updateetudiant' , l._id ]" class="mdi mdi-pencil action-icon"></i>
                <i (click)="delete(l._id)" class="mdi mdi-delete action-icon"></i>
                <i [routerLink]="['/dashboard/profiletudiant' , l._id ]" class="mdi mdi-account action-icon"></i>

            </td>
        </tr>




    </tbody>
</table>